:root {
  --main-background-color: #f0e7d5;
  --heading-font-family: "Great Vibes", "Montserrat", serif;
  --paragraph-font-family: "Barlow Condensed", "Montserrat", sans-serif;
  --nav-background-color: white;
}

body {
  background-color: var(--main-background-color);
  font-family: var(--paragraph-font-family);
}
.n-color {
  background-color: var(--nav-background-color);
}
nav {
  font-family: var(--paragraph-font-family);
  font-size: 20px;
}
.logo-d {
  font-family: var(--heading-font-family);

  padding-right: 30px;
  font-size: 30px;
}
h1 {
  font-size: 54px;
  color: white;
  font-family: var(--heading-font-family);
  margin: 0px;
}
.sub-head {
  color: white;
  font-size: 15px;
  font-family: var(--paragraph-font-family);
}
.top-pic {
  border-radius: 0%;
}

.sub-head2 {
  color: white;
  font-size: 30px;
  font-family: var(--paragraph-font-family);
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.hero {
  text-align: center;
  margin-top: 55px;
}
.email-me {
  font-size: 18px;
}
.email-me:hover {
  cursor: pointer;
}
footer {
  background-color: var(--nav-background-color);
  margin-top: 5px;
}

.fa {
  display: block;
  margin: 0 auto;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: white;
  color: black;
}
.fa-instagram {
  background: white;
  color: black;
}
.fa-linkedin {
  background: white;
  color: black;
}

@media (min-width: 700px) {
  h1 {
    font-size: 130px;
    margin-top: 30px;
  }
  .sub-head {
    font-size: 30px;
  }
  .sub-head2 {
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .email-me {
    font-size: 30px;
  }
}
@media (max-width: 300px) {
  h1 {
    font-size: 35px;
    margin-top: 5px;
  }
  .sub-head {
    font-size: 10px;
  }
  .sub-head2 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .logo-d {
    font-size: 20px;
    padding-right: 5px;
  }
  .hero {
    margin-top: 43px;
  }
  .email-me {
    font-size: 10px;
  }
}
