:root {
  --heading-font-family: "Great Vibes", "Montserrat", serif;
  --paragraph-font-family: "Barlow Condensed", "Montserrat", sans-serif;
  --primary-color: white;
  --secondary-color: #8c8f8f8c;
  --hover-color: #5380b7;
  --link-color: rgba(0, 0, 0, 0.648);
  --icon-color: black;
  --btn-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

body {
  background-color: var(--primary-color);
  font-family: var(--paragraph-font-family);
}

nav {
  font-family: var(--paragraph-font-family);
  font-size: 20px;
  background-color: var(--primary-color);
}
.logo-d {
  font-family: var(--heading-font-family);
  color: var(--secondary-color);
  font-size: 20px;
  line-height: 0px;
}
header {
  border: 1px solid black;
}
.h1-heading {
  margin-top: 10px !important;
}
h1 {
  font-size: 53px;
  color: var(--primary-color);
  font-family: var(--heading-font-family);
}

.sub-head {
  color: var(--primary-color);
  font-size: 15px;
  font-family: var(--paragraph-font-family);
}
.top-pic {
  border-radius: 0%;
}

.sub-head2 {
  color: var(--secondary-color);
  font-size: 25px;
  font-family: var(--paragraph-font-family);
  margin: 15px 0px;
  text-align: center;
  padding: 0px 5px;
}

.my-email {
  color: var(--link-color);
  font-size: 20px;
  font-family: var(--paragraph-font-family);
  text-decoration: none;
}
.my-email:hover {
  color: var(--hover-color);
  cursor: pointer;
  text-decoration: underline;
}
.card {
  border: none;
}
.home-pics {
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.btn {
  background-color: var(--secondary-color);
  border: none;
  box-shadow: var(--btn-box-shadow);
}

.btn:hover {
  background-color: var(--hover-color);
  cursor: pointer;
}

.email-me {
  font-size: 25px;
  color: var(--link-color);
}
.email-me:hover {
  cursor: pointer;
  color: var(--hover-color);
}
footer {
  background-color: var(--primary-color);
  margin-top: 5px;
}

.fa {
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  color: var(--hover-color);
}
.fa-facebook,
.fa-instagram,
.fa-linkedin {
  background: var(--primary-color);
  color: var(--icon-color);
}

@media (min-width: 700px) {
  h1 {
    font-size: 130px;
    margin-top: 30px;
  }
  .sub-head {
    font-size: 30px;
  }
  .sub-head2 {
    font-size: 50px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .my-email {
    font-size: 30px;
  }
  .email-me {
    font-size: 30px;
  }
  .body-pic {
    width: 22rem !important;
  }
  .home-pics {
    width: 100%;
    height: 38vh;
    object-fit: cover;
  }
}
@media (max-width: 300px) {
  h1 {
    font-size: 25px;
  }
  .sub-head {
    display: none;
  }
  .sub-head2 {
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .logo-d {
    font-size: 20px;
  }
  .body-pic {
    width: 10rem !important;
  }
  .home-pics {
    width: 100%;
    height: 10vh;
    object-fit: cover;
  }
  .email-me {
    font-size: 15px;
  }
  .my-email {
    font-size: 15px;
  }
}
